
.bg-pureBlack{
    background-color: #000;
}

/* navbar */

.logo{
    width: 2.5rem;
}

.position_navbar{
    z-index: 999;
}


.espacio{
    gap: 39em;
}


/* destacados */

.card-size{
    width: 100%;
    height: 10vw;
    object-fit: cover;
}


/* *** footer*** */

footer p{
    font-size: 3rem;
    vertical-align: center;
    padding-top: 1.5rem;
}
footer i{
    color:#fff;
    font-size: 3rem;
}

footer li{
   display: inline-block;
   padding: 3rem .5rem 0 .5rem;
   vertical-align: center;
}

footer i:hover{
    color: #000;
}